// define all variables
$black: #1e1e1e;
$medium-black: #2c2c2c;
$gray: #484f5f;
$blue-gray: #5e728b;
$blue: #0f4ff2;
$white: #dadada;

$title: 'Nothing You Could Do', cursive;
$heading: 'Overlock SC', cursive;
$subheading: 'Overlock', cursive;
$text: 'Open Sans', sans-serif;

$main-color: $medium-black;
$accent-color: $blue;
$text-color: $white;
$title-font: $title;
$heading-font: $heading;
$subheading-font: $subheading;
$body-font: $text;